.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    background-image: url('/images/kinoko.jpg');
    background-size: 100%;
    background-position: 0px 50px;
    background-repeat: no-repeat;
}
