<header>
  <h1 class="site-logo">hanachin</h1>
  <nav alt="各種hanachin関連のコンテンツへのリンク" class="content-links">
    <ul>
      <li class="content-link diary"><a href="#/diary" alt="日記"><i class="fa fa-book"></i></a></li>
      <li class="content-link github"><a href="https://github.com/hanachin" alt="github"><i class="fa fa-github-alt"></i></a></li>
      <li class="content-link twitter"><a href="https://twitter.com/hanachin_" alt="twitter"><i class="fa fa-twitter"></i></a></li>
      <li class="content-link facebook"><a href="https://www.facebook.com/seiei.higa" alt="facebook"><i class="fa fa-facebook-square"></i></a></li>
      <li class="content-link instagram"><a href="http://instagram.com/hanachin_" alt="instagram"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </nav>
</header>
<section>
  <h1>古いサイト</h1>
  <p>
    前に作って更新するのに飽きてしまったものたち
  </p>
  <ul>
    <li>
      <a href="http://logs.hanach.in/">はなちin</a>
    </li>
    <li>
      <a href="http://blog.hanach.in/">hanachin C-x C-c</a>
    </li>
    <li>
      <a href="http://d.hatena.ne.jp/h6n/">はなちん C-x C-c</a>
    </li>
    <li>
      <a href="http://hanachin.hateblo.jp/">h6nの日記</a>
    </li>
  </ul>
</section>
<footer>
  <p>GitHub Pagesは放置しないようにしたいლ(╹◡╹ლ)</p>
</footer>
