<header>
  <h1>hanachin</h1>
</header>
<section>
  <h1>コンテンツ</h1>
  <ul>
    <li>
      <a href="#/diary">日記</a>
    </li>
  </ul>
</section>
<section>
  <h1>SNS</h1>
  <ul>
    <li>
      <a href="https://github.com/hanachin">GitHub</a>
    </li>
    <li>
      <a href="https://gist.github.com/hanachin">Gists</a>
    </li>
    <li>
      <a href="https://twitter.com/hanachin_">Twitter</a>
    </li>
    <li>
      <a href="https://www.facebook.com/seiei.higa">Facebook</a>
    </li>
    <li>
      <a href="http://instagram.com/hanachin_">Instagram</a>
    </li>
  </ul>
</section>
<section>
  <h1>古いサイト</h1>
  <p>
    前に作って更新するのに飽きてしまったものたち
  </p>
  <ul>
    <li>
      <a href="http://logs.hanach.in/">はなちin</a>
    </li>
    <li>
      <a href="http://blog.hanach.in/">hanachin C-x C-c</a>
    </li>
    <li>
      <a href="http://d.hatena.ne.jp/h6n/">はなちん C-x C-c</a>
    </li>
    <li>
      <a href="http://hanachin.hateblo.jp/">h6nの日記</a>
    </li>
  </ul>
</section>
<footer>
  <p>GitHub Pagesは放置しないようにしたいლ(╹◡╹ლ)</p>
</footer>
